@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(180, 96, 96, 0.884);}
*{
    font-family: 'Arial', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    background: linear-gradient(to right, #303031, #a75e42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 2rem 7%;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
}

.logoName {
    color: transparent;
    -webkit-text-stroke: 3px #e2ad66;
    position: relative;
    font-size: 4rem;
    font-weight: normal;
}
.logoName::before{
    content: "A-MAX Mobile";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: e2ad66;
    border-right: 8px solid #e2ad66;
    transition: 1s ease-in-out;
}
.logoName:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px #e2ad66);
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--white);
    font-weight: bold;
}


.header .navbar a:hover{
    color: #111111;
}

.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--white);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}


.home {
    position: relative;
    height: 100vh;
    background-image: url('image/pexels-elijah-pilchard-269100825-12792221.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    animation: backgroundAnimation 30s ease-in-out infinite;
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.home .homeContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
}

.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent .bold h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
    color: var(--white);
}

.home .homeContent .home-btn button{
    color: #0a0a0a;
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    transition:  .5s;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #03a9f4, #ffeb3b, #f441a5, #12eb2f, #03a9f4);
    background-size: 400%;
    animation: animated 8s linear infinite;
}

@keyframes animated {
    0% { background-position: 0%;}
    100% { background-position: 400%;}
}
.home .homeContent .home-btn button::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #e93d62, #03a9f4);
    background-size: 400px;
    border-radius: 8px;
    opacity:  .5;
    transition:  .5s;
    filter: blur(5px);
    animation: animated 8s linear infinite;
}
.home .homeContent .home-btn button:hover:before{
    filter: blur(20px);
    opacity: 1;
}


/* Hero section */
.hero {
    background-color: #555151;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    padding-bottom: 10px;
    z-index: 1;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.7em;
}

/* Categories section */
.categories {
    background: linear-gradient(#555151, #755647);
    text-align: center;
    padding: 50px 20px;
}

.categories h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categories ul li {
    margin: 10px;
}

.categories ul li a {
    text-decoration: none;
    color: #200404;
    font-weight: bold;
    font-size: 1.8em;
    transition: color 0.3s;
}

.categories ul li a:hover {
    text-decoration: underline;
    padding: 2px;
}

/* Products section */
.products {
    background: linear-gradient( #755647, #fff);
    padding: 50px 20px;
    text-align: center;
}

.products h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-item p {
    font-size: 1.3em;
    color: #888;
}

.product-item .price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-item .add-to-cart {
    background-color: #3a1514;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 1.6em;
    transition: background-color 0.3s;
}

.product-item .add-to-cart:hover {
    background-color: #ad6954;
}

/* Product Details Page Styles */
.product-detail-page {
    background: linear-gradient( #a75e42, #fff);
    padding: 100px 20px;
}

.product-details {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.product-details .product-image {
    max-width: 600px;
    flex: 1;
}

.product-details .product-image img {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(214, 43, 43, 0.1);
}

.product-details .product-info {
    max-width: 500px;
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(117, 13, 13, 0.1);
}

.product-details .product-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.product-details .product-info p {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: #555;
}

.product-details .product-info .price {
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.product-details .product-info .add-to-cart {
    background-color: #3a1514;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details .product-info .add-to-cart:hover {
    background-color: #ad6954;
}

/* Services Section */
.services {
    background:  linear-gradient( #a75e42, #fff);
    padding: 10rem ;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary);
    display: inline-block;
    padding-bottom: 0.5rem;
}

.section-description {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: var(--black);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.service-box {
    background: var(--white);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 1rem;
}

.service-box h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.service-box p {
    font-size: 1.6rem;
    color: var(--black);
}


/*contact page*/
.contact {
    display: flex;
    justify-content: space-around ; 
    align-items: flex-start; 
    padding: 10rem;
    background: url(image/pexels-jeshoots-4831.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh; 
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: rgba(107, 85, 60, 0.6); 
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: var(--white);
    width: 50%;
}
.contact-form{
    margin-bottom: 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1.5rem;  
}


.contact-info h2 , .contact-form h2 {
    font-size: 3rem; 
    margin-bottom: 1rem;
}

.contact-info p , .contact-form p{
    font-size: 1.5rem; 
    line-height: 1.6;
}

.contact-item {
    padding: 1rem;
    width: 100%;
    max-width: 280px; 
    text-align: center;
}
.contact-item i {
    font-size: 2rem; 
    color: var(--black);
    margin-bottom: 0.5rem;
    color: var(--white);
    text-align: center;
}
.contact-item h3 {
    color: var(--black);
    font-size: 1.7rem; 
    color: var(--white);
    text-align: center;
}
.contact-item p {
    color: var(--black);
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
}


.contact-form h3 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--white);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem; 
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
}


.contact-form input[type="submit"] {
    background: #a75e42;
    color: var(--white);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: background 0.3s ease;
    width: 80px;
}

.contact-form input[type="submit"]:hover {
    background: rgb(95, 48, 26);
}


.footer {
    background: linear-gradient(to right, #ee997770, #ac6d49);
    background-size: cover;
    padding: 2rem 0;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.footer .box-container .mainBox .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--white);
}
.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--white);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--white);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--black);
    background: var(--white);
    margin: 0 .3rem;
    border-radius: 50%;
    

}
.footer .share a:hover{
    background: var(--black);
    color: var(--white);
}
.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--white);
    text-align: center;
    
}

.swiper-pagination-bullet{
    background-color: var(--black);
}
.swiper-button-next{
    color: var(--black);
}
.swiper-button-prev{
    color: var(--black);
}

@keyframes backgroundAnimation {
    0% {
        background-position: center;
    }
    25% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
    75% {
        background-position: top right;
    }
    100% {
        background-position: center;
    }
}

/* media queries for web responsive */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
        margin-bottom: 1rem; /* Space between stacked items */
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
section {
    animation: fadeIn 1s ease-out;
}